<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="widen_tab" translate="label" sortOrder="1">
            <label> Acquia DAM Configuration </label>
        </tab>
        <section id="widenconfig" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Configuration</label>
            <tab>widen_tab</tab>
            <resource>DamConsultants_Widen::config</resource>
            <group id="basic_credential" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Acquia DAM Credential</label>
                <field id="widen_domain" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Acquia DAM Domain</label>
                    <comment>Enter your Acquia DAM Domain Name Here Without https://.</comment>
                </field>
                <field id="widen_permanent_token" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Permanent Token</label>
                    <comment>Enter your Acquia DAM Permanent Token Here.(Note:- Please, Also Give Full permission your Account.)</comment>
                </field>
            </group>
        </section>

        <section id="widensyncdata" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Synchronization Acquia DAM Data to Magento</label>
            <tab>widen_tab</tab>
            <resource>DamConsultants_Widen::config</resource>
            <group id="widen_sync_data" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Synchronization Acquia DAM Data to Magento</label>
                <field id="select" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select Attribute</label>        
                    <source_model>DamConsultants\Widen\Model\Config\Source\Select</source_model>
                    <comment>Select the Attribute which Data you want to Synchronization Acquia DAM to Magento.</comment>
                </field>
                <field id="sku_limit" translate="label" type="text" sortOrder="2" showInDefault="2" showInWebsite="1" showInStore="1">
                    <label>Enter Your Sku Limit</label>
                    <validate>validate-digits</validate>
                    <comment>Enter Your Only Number.</comment>
                </field>
                <field id="check_for_all" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Get All Sku</label>
                    <frontend_model>DamConsultants\Widen\Block\System\Config\Checkbox</frontend_model>
                </field>
                <field id="check_cdn" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Acquia DAM CDN</label>
                    <frontend_model>DamConsultants\Widen\Block\System\Config\Checkboxcdn</frontend_model>
                </field>
                <field id="magento_import" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Magento Import</label>
                    <frontend_model>DamConsultants\Widen\Block\System\Config\Checkboximport</frontend_model>
                </field>
                <field id="sku" translate="label" type="textarea" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Sku</label>
                    <comment>Enter Sku code with comma separated.(Ex. 24-MB01,25-MB02,26-MB03).</comment>
                </field>
                <field id="bt_id_2" translate="label" type="button" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="2">
                    <frontend_model>DamConsultants\Widen\Block\System\Config\GetSyncSkuButton</frontend_model>
                </field>
                <field id="bt_id_1" translate="label" type="button" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="3">
                    <frontend_model>DamConsultants\Widen\Block\System\Config\SyncSkuButton</frontend_model>
                </field>
            </group>
        </section>
        <section id="cronimageconfig" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Cron Config</label>
            <tab>widen_tab</tab>
            <resource>DamConsultants_Widen::config</resource>
            <group id="configurable_cron" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"  showInStore="0">
                <label>Fetch SKU To Magento</label>
                <field id="configurable_cron_info" translate="label" type="button" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>DamConsultants\Widen\Block\System\Config\FetchNullSkuToMagento</frontend_model>
                </field>
                <field id="frequency" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Frequency</label>
                    <source_model>DamConsultants\Widen\Model\Config\Source\Frequency</source_model>
                    <backend_model>DamConsultants\Widen\Model\Config\CronConfig</backend_model>
                    <comment>Select The Cron Frequency.</comment>
                </field>
                <field id="your_min_featch" translate="label" type="text" sortOrder="2" showInDefault="2" showInWebsite="1" showInStore="1">
                    <label>Enter Minutes</label>
                    <validate>validate-digits</validate>
                    <comment>Enter Your Only Number.</comment>
                    <depends>
                        <field id="frequency">E</field>
                    </depends>
                </field>
                <field id="time" translate="label comment" sortOrder="2" type="time" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Start Time</label>
                    <comment>Select The Cron Start Time.</comment>
                    <depends>
                        <field id="frequency" separator=",">D,W,M</field>
                    </depends>
                </field>
                <!-- <comment>Select The Cron Frequency.</comment> -->
                
            </group>
            <group id="auto_add_widen" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Auto Add Data Product</label>
                 <field id="auto_add_widen_info" translate="label" type="button" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>DamConsultants\Widen\Block\System\Config\AutoAddDataProduct</frontend_model>
                </field>
                <field id="auto_add_sku_frequency" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Frequency</label>
                    <source_model>DamConsultants\Widen\Model\Config\Source\Frequency</source_model>
                    <backend_model>DamConsultants\Widen\Model\Config\AutoSkuCronConfig</backend_model>
                    <comment>Select The Cron Frequency.</comment>
                </field>
                <field id="your_min_auto_add_sku_frequency" translate="label" type="text" sortOrder="2" showInDefault="2" showInWebsite="1" showInStore="1">
                    <label>Enter Minutes</label>
                    <validate>validate-digits</validate>
                    <comment>Enter Your Only Number.</comment>
                    <depends>
                        <field id="auto_add_sku_frequency">E</field>
                     </depends>
                </field>
                <field id="auto_add_sku_time" translate="label comment" sortOrder="2" type="time" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Start Time</label>
                    <comment>Select The Cron Start Time.</comment>
                    <depends>
                        <field id="auto_add_sku_frequency" separator=",">D,W,M</field>
                    </depends>
                </field>
            </group> 
        </section>
    </system>
</config>